<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>config/bundles.php</exclude-pattern>
    <exclude-pattern>importmap.php</exclude-pattern>

    <rule ref="vendor/pixelfederation/coding-standards/phpcs.ruleset.85.xml">
        <exclude name="Generic.Files.LineLength.TooLong" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousTraitNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix" />
    </rule>

    <rule ref="SlevomatCodingStandard.Arrays.AlphabeticallySortedByKeys.IncorrectKeyOrder">
        <exclude-pattern>tests/</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Functions.FunctionLength">
        <properties>
            <property name="maxLinesLength" value="45"/>
        </properties>
        <exclude-pattern>tests/</exclude-pattern>
        <exclude-pattern>migrations</exclude-pattern>
        <exclude-pattern>src/Story/</exclude-pattern>
        <exclude-pattern>src/Form/Type/</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Files.LineLength.LineTooLong">
        <properties>
            <property name="lineLengthLimit" value="120"/>
            <property name="ignoreComments" value="true"/>
            <property name="ignoreImports" value="true"/>
        </properties>
        <exclude-pattern>tests/</exclude-pattern>
        <exclude-pattern>migrations</exclude-pattern>
        <exclude-pattern>config/packages</exclude-pattern>
        <exclude-pattern>src/Story/</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Complexity.Cognitive.ComplexityTooHigh">
        <exclude-pattern>src/Story</exclude-pattern>
        <exclude-pattern>src/Form/Type/</exclude-pattern>
        <exclude-pattern>tests/</exclude-pattern>
    </rule>
</ruleset>
