/* add active to menu item on `a`. added by route name manually */
#main-menu .menu .menu-item:has(> a.active) {
    background: var(--sidebar-menu-active-item-bg);
}

#main-menu .menu .menu-item a.active .menu-item-label {
    font-weight: 500;
}

#main-menu .menu .menu-item:not(.expanded) a.active .menu-icon,
#main-menu .menu .menu-item:not(.expanded) a.active {
    color: var(--sidebar-menu-active-item-color);
}

/* input table */
table.input-table {
    white-space: nowrap;

    .input-taget-width {
        width: 2rem;
    }

    .input-taget-sum {
        width: 2.5rem;
    }

    input {
        padding: 2px;
        background: transparent;
        text-align: right;
        border: 1px var(--bs-secondary-border-subtle) solid;
        border-radius: 2px;
    }

    input.is-invalid {
        border-color: var(--bs-form-invalid-border-color);
    }

    td.hidden-column, th.hidden-column {
        display: none;
    }
}

/* global classes */

.fs-50 {
    font-size: 50%;
}

.fs-75 {
    font-size: 75%;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
