{# @var competitor_sub_results \App\Competition\Results\Model\CompetitorSubResults #}
{% for target in results.competition.targetConfigurationSnapshotOrdered %}
    <td class="text-end min-width">
        {{ competitor_sub_results.getSubResult(target.name).result }}
    </td>
{% endfor %}
