{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {% include 'admin/competition/_competition_content_title.html.twig' with {
        title: 'Výsledky:',
        competition: results.competition,
        suubtitle: results.category.title
    } %}
{% endblock %}

{% block main %}
    <ul class="nav nav-pills">
        {% for category in categories.categories %}
            <li class="nav-item">
                <a
                {% if results.category.slug === category.slug %}
                    class="nav-link active"
                    aria-current="page"
                    href="#"
                {% else %}
                    class="nav-link"
                    href="{{ path(constant('App\\Controller\\Admin\\Competition\\ResultsController::ROUTE_NAME'), {
                        entityId: results.competition.id,
                        categorySlug: category.slug,
                    }) }}"
                {% endif %}
                >
                    {{ category.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <table class="table text-nowrap table-hover table-striped">
        <thead>
            <tr>
                {% if results.category.categoryType == enum('App\\Competition\\Results\\Model\\CategoryType').Teams %}
                    {% include 'admin/competition/results/_team_headers.html.twig' %}
                {% else %}
                    {% include 'admin/competition/results/_individual_headers.html.twig' %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for competitors_results_with_rank in results.competitorsResultsWithRank %}
                {# @var competitors_results_with_rank \App\Competition\Results\Model\CompetitorResultWithRank #}
                {% if results.category.categoryType == enum('App\\Competition\\Results\\Model\\CategoryType').Teams %}
                    {% include 'admin/competition/results/_team_data.html.twig' %}
                {% else %}
                    {% include 'admin/competition/results/_individual_data.html.twig' %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
