{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <span class="fs-75">
        Výsledky:
    </span>
    {{ competition.name }}
{% endblock %}

{% block main %}
    <ul class="nav nav-pills">
        {% for cat in categories.categories %}
            <li class="nav-item">
                <a
                {% if category.slug === cat.slug %}
                    class="nav-link active"
                    aria-current="page"
                    href="#"
                {% else %}
                    class="nav-link"
                    href="{{ path(constant('App\\Controller\\Admin\\Competition\\ResultsController::ROUTE_NAME'), {
                        entityId: competition.id,
                        categorySlug: cat.slug,
                    }) }}"
                {% endif %}
                >
                    {{ cat.title }}
                </a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
