{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Posledné súťaže
{% endblock %}

{% block main %}
    <div class="content-panel">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    Názov
                </th>
                <th scope="col">
                    Dátum
                </th>
                <th scope="col">
                    Typ
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for competition in competitions %}
                <tr>
                    <td>
                        {{ competition.name }}
                    </td>
                    <td>
                        {{ competition.competitionStart|date('d.m.Y') }}
                    </td>
                    <td>
                        {{ competition.competitionType.name }}
                    </td>
                    <td>
                        {{ competition.status|trans }}
                    </td>
                    <td>
                        {% include 'admin/competition/_competition_links.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
